# MongoDB Atlas or Local MongoDB Connection URI
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/?retryWrites=true&w=majority
# Example Local: mongodb://localhost:27017/
MONGODB_URI=mongodb://localhost:27017/
MONGODB_DB_NAME=netflix_analytics

# Hadoop & HDFS Configuration
HADOOP_HOME=/usr/local/hadoop
HDFS_NAMENODE_URI=hdfs://localhost:9000
HDFS_BASE_DIR=/netflix-analytics

# Apache Hive Configuration
HIVE_HOME=/usr/local/hive
HIVE_DATABASE=netflix_db
